<section class="section card mb-5">

    <div class="card-body">
        <div class="container-fluid">
            <!-- Section heading -->
        
            <!-- Grid row -->
            <div class="col-md-12">
          
                <h5 class="my-4 dark-grey-text font-weight-bold">Yours Organization </h5>
              <hr/>
              
               <div class="row">
                
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
          
                      <!-- Card -->
                      <div class="card card-cascade cascading-admin-card">
          
                        <!-- Card Data -->
                        <div class="admin-up" style="margin-bottom: -25px;">
                         <div class="card" style="width: 70px; border-radius: 5px;">
                                                   <img id="profileImg" src="/img/org.png" class="" style="width: 70px; border-radius: 5px; padding: 3px; " alt=" image">
                                                
                                               </div>
                          <div class="data" style="margin-top: -40px;">
                            <p class="text-uppercase">Member</p>
                            <h5 class="font-weight-bold dark-grey-text" style="margin-top: -40px;"><i class="fas fa-users " style="color: grey"></i>(1)</h5>
                          </div>
                        </div>
                        <hr/>
                        <!-- Card content -->
                        <a href="#">
                            <div class="card-body card-body-cascade" style="margin-top: -28px;">
                                <div class="mb-3">
                                    <h6 class="font-weight-bold dark-grey-text"> Hello Org</h6>
                                </div>
                                <p class="card-text" style="font-size: small;">Hello@ogr</p>
                            </div>
                            </a>
          
                      </div>
                      <!-- Card -->
          
                    </div>
              </div>
          
            </div>

        </div>
    </div>
      
</section>