  
@{
    ViewData["Title"] = "Forget Password";
}

<!-- Forget Section -->
    <section class=" white mt-lg-5 mb-5 " style="margin-top: 85px;">
      <div class=" h-100 d-flex mode justify-content-center align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">

              <!-- Form with header -->
              <div class="card wow fadeIn" data-wow-delay="0.3s">
                <div class="card-body pt-5 pb-5">
                  

                  <div class="md-form">
                    <i class="fas fa-envelope prefix text-default"></i>
                    <input type="text" id="orangeForm-email" class="form-control">
                    <label for="orangeForm-email">Your email</label>
                  </div>
                  
                  <div class="md-from mb-2">
                    <a asp-area="Profile" asp-controller="Acount" asp-action="Login" class="text-default">Back To Login </a>
                     
                  </div>
                  <div class="text-center">
                    <button class="btn aqua-gradient btn-lg">Send</button>
                  
                  </div>

                </div>
              </div>
              <!-- Form with header -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Login Section -->