@model DepositModel
<!-- Central Modal Large Info -->
<div class="modal fade" id="CreateDepositModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-fluid modal-notify modal-info" role="document">
        <!-- Content -->
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <p class="heading lead">Add Deposit</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body">
               <div class="container">
                      <!-- Section heading -->
                      <h1 class="text-center my-3 h2"><i class="fas fa-money-bill-alt" ></i>  Add Deposit </h1>
                      <!-- Grid row -->
                      <div class="row justify-content-center">
                        
                        <div class="col-md-7 ">
                          <!-- Grid column -->
                        <form asp-controller="Deposit" id="DepositFrom" asp-action="Create" method="post" asp-antiforgery="true">
                          <div class="col-md-12 ">
                           
                            <select class="mdb-select md-form md-outline" asp-for="MemberName" searchable="Search here..">
                              <option value="" selected="selected">Select Deposit Holder * </option>
                               
                            </select>
                              <span asp-validation-for="MemberName" class="text-danger" style="font-size: 15px;"></span>
                          </div>
                        
                            
                          <div class="col-md-12 ">
                            <div class="md-form md-outline">
                              <input asp-for="Amount" type="number"  id="f2" class="form-control">
                              <label for="f2" class="">Amount *</label>
                                 <span asp-validation-for="Amount" class="text-danger" style="font-size: 15px;"></span>
                            </div>
                          </div>
                           <input asp-for="OrgId" value="" type="hidden">
                          <div class="col-md-12 ">
                            <div class="md-form md-outline">
                              <input type="text" id="f2" class="form-control">
                              <label for="f2" class="">Refarence *</label>
                              <span asp-validation-for="Refarence" class="text-danger" style="font-size: 15px;"></span>                     
                            </div>
                          </div>
                          <div class="col-md-12 ">
                            <select class="mdb-select md-form md-outline" asp-for="PaymentMethod" searchable="Search here..">
                              <option value="" selected="selected">Select Payment method * </option>
                              <option value="Bank"> Bank</option>
                              <option value="Hand Cash"></option>
                              <option value="Bkash">Bkash</option>
                              <option value="card">Card</option>
                              
                            </select>
                             <span asp-validation-for="PaymentMethod" class="text-danger" style="font-size: 15px;"></span>  
                                                    </div>
                                                      
                                                      
            
                          <div class="col-md-12 ">
                            <div class="md-form md-outline">
                             <input asp-for="Date" placeholder="Selected date" type="text" value="@DateTime.Today" id="date-picker-example" class="form-control datepicker picker__input" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="date-picker-example_root">
                              <label for="f2" class="">Date *</label>
                                <span asp-validation-for="Date" class="text-danger" style="font-size: 15px;"></span>  
                            </div>
                          </div>
                            
                          <div class="col-md-12 ">
                            <div class="md-form md-outline">
                              <textarea asp-for="Description" type="text"  id="form101" class="md-textarea form-control" rows="3"></textarea>
                              <label for="f2" class="">Diteals:</label>
                                <span asp-validation-for="Description" class="text-danger" style="font-size: 15px;"></span>  
                            </div>
                          </div>
                            
                          <div class="col-md-12 ">
                            <div class="md-form">
                              <a class="btn btn-md aqua-gradient" id=" d-saveAndPrintBtn"> Save And Print</a>
                              <a class="btn btn-md aqua-gradient" id="d-saveAndDownloadBtn"> Save Download</a>
                              <a class="btn btn-md aqua-gradient" id="d-SaveBtn"> Save</a>
                            </div>
                          </div>
                            
                          <!-- Grid column -->
            </form>
                      <!--  </div>-->
                        
                          <!-- Grid row -->
                        </div>
                        </div>    
                
                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel</a>
               
            </div>
        </div>
        <!-- Content -->
    </div>
</div>
<!-- Central Modal Large Info -->

