
<!-- Central Modal Large Info -->
<div class="modal fade" id="CreateExpenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-fluid modal-notify modal-info" role="document">
        <!-- Content -->
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <p class="heading lead">Add Expense</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <div class="text-center" id="UploadModalBody">
                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel</a>
                <a type="button" class="btn btn-outline-info waves-effect" id="CropAndUploadBtn">Save</a>
            </div>
        </div>
        <!-- Content -->
    </div>
</div>
<!-- Central Modal Large Info -->


