@using Microsoft.AspNetCore.Identity
@using ELM.Areas.Identity.Data
@inject SignInManager<WebUser> SignInManager
@inject UserManager<WebUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        
      <div class="d-flex align-items-center">
        
         <li class="nav-item dropdown notifications-nav">
                  <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus-circle"></i>
                    <span class="d-none d-md-inline-block">Create New</span>
                  </a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-angle-right"></i>
                      Organization
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-angle-right"></i>
                      Expense
                    </a>
                    <a class="dropdown-item" href="#">
                     <i class="fas fa-angle-right"></i>
                     Deposit
                    </a>
                  </div>
                </li>

        <li class="nav-item dropdown notifications-nav">
          <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <span class="badge red">3</span> <i class="fas fa-bell"></i>
            <span class="d-none d-md-inline-block">Notifications</span>
          </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
              <span>New order received</span>
              <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 13 min</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
              <span>New order received</span>
              <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 33 min</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-chart-line mr-2" aria-hidden="true"></i>
              <span>Your campaign is about to end</span>
              <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 53 min</span>
            </a>
          </div>
        </li>


        <!-- Icon -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"/> <span class="clearfix d-none d-sm-inline-block"> @User.Identity?.Name</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My account</a>
            <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
              <button type="submit" class=" btn btn-link ">Logout</button>
            </form>
          </div>
        </li>

      </div>
    <!-- Right elements -->
       
    }
    else
    {
       <li class="nav-item">
                   <a class="btn btn-secondary btn-md aqua-gradient text-white btn-rounded waves-effect waves-light" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                 </li>
                 <li class="nav-item">
                  <a class="btn btn-secondary btn-md aqua-gradient text-white btn-rounded waves-effect waves-light" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Sign Up</a>
                 </li>
    }
