
    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav sn-bg-4 fixed">
      <ul class="custom-scrollbar">
        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
          <div class="text-center">
               <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">
                       <img style="width: 50px;" class="elm-logo" src="~/img/logo.png"/>
                     </a>
          </div>
        </li>
        <!--/. Logo -->

        <!--Search Form-->
        <li>
          <form class="search-form" role="search">
            <div class="md-form mt-0 waves-light">
              <input type="text" class="form-control py-2" placeholder="Search">
            </div>
          </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">
            
            <li><a style="font-size: 15px;" class="collapsible-header waves-effect arrow-r"><i style="font-size: 15px;" class="fas fa-plus-circle"></i> Create New<i style="font-size: 15px;" class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="../profile/basic-1.html" class="waves-effect">Organization</a>
                  </li>
                  <li><a href="../profile/basic-1.html" class="waves-effect">Expense</a>
                  </li>
                  <li><a href="../profile/basic-1.html" class="waves-effect">Deposit </a>
                                      </li>
                                         
                  </ul>
                </div>
              </li> 
            
            <!-- Simple link -->
          
            <li>
              <a href="../modals/modals.html" style="font-size: 15px;" class="collapsible-header waves-effect"><i style="font-size: 15px;" class="fas fa-building"></i> Your Organizations</a>
            </li>
            
            <li>
              <a href="../modals/modals.html" style="font-size: 15px;" class="collapsible-header waves-effect"><i style="font-size: 15px;" class="fas fa-money-check-alt"></i> Your Expenses</a>
            </li>
            <li>
              <a href="../modals/modals.html" style="font-size: 15px;" class="collapsible-header waves-effect"><i style="font-size: 15px;" class="fas fa-money-bill-alt"></i> Your Deposit</a>
                        </li>
          <li>
            <a href="../modals/modals.html" style="font-size: 15px;" class="collapsible-header waves-effect"><i style="font-size: 15px;" class="fas fa-cog"></i>Settings</a>
            </li>
          </ul>
        </li>
        <!--/. Side navigation links -->
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->
