    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar ">
      <div class="container">
      <!-- SideNav slide-out button -->
     

      <!-- Breadcrumb -->
      <a class="navbar-brand "  asp-area=""  asp-controller="Home" asp-action="Index"><img style="width: 50px;" class="elm-logo" src="~/img/logo.png"/></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7"> 
        
       
          <ul class="navbar-nav mr-auto">
           
              
            <li class="nav-item active">
              <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="#"><i class="fas fa-book"></i> How To Use</a>
            </li>
            
          </ul>
                  
                </div>
        
    

      <div class="d-flex change-mode">
        
        <!-- Navbar links -->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">

          <li class="nav-item nav-desktop">
            <a class="btn btn-secondary btn-md aqua-gradient  waves-effect waves-light" id="dark-mode"><i class="fas fa-adjust"></i></a>
          </li>
          
          <partial name="_LoginPartial"/>

        </ul>
        <!-- Navbar links -->

      </div>
  </div>
    </nav>
    <!-- Navbar -->
