   <!-- Section: Inputs -->
      <section class="section card mb-5">

        <div class="card-body">
          <div class="container">
          <!-- Section heading -->
          <h1 class="text-center my-3 h2"><i class="fas fa-building" ></i>  Set up your new organization</h1>
          <!-- Grid row -->
          <div class="row justify-content-center">
            
              <div class="col-md-7 ">
                <!-- Grid column -->
                <div class="col-md-12 ">
                  <div class="md-form md-outline">
                    <input type="text" id="f2" class="form-control">
                    <label for="f2" class="">Orgaization Name *</label>
                  </div>
                </div>
                
                      <div class="col-md-12 ">
                                  <div class="md-form md-outline">
                                    <input type="email" id="f2" class="form-control">
                                    <label for="f2" class="">Orgaization Email *</label>
                                  </div>
                                </div>

                <div class="col-md-12 ">
                  <div class="md-form md-outline">
                    <input type="tel" id="f2" class="form-control">
                    <label for="f2" class="">Phone:</label>
                  </div>
                </div>
                
                <div class="col-md-12 ">
                  <div class="md-form md-outline">
                    <textarea type="text" id="form101" class="md-textarea form-control" rows="3"></textarea>
                  </div>
                </div>
                
                 <div class="col-md-12 ">
                                  <div class="md-form">
                                  <button type="submit" class="btn btn-block aqua-gradient">Next</button>
                                  </div>
                                </div>
                
                <!-- Grid column -->

              </div>
              <!-- Grid row -->
            </div>
            </div>
        </div>
      
      </section>
      <!-- Section: Inputs -->