







<button type="button" class="btn btn-primary mb-3 waves-effect waves-light" data-toggle="modal" data-target="#CreateDepositModal">Deposite
</button>

<button type="button" class="btn btn-primary mb-3 waves-effect waves-light" data-toggle="modal" data-target="#CreateExpenseModal">Expense
</button>

<partial name="_CreateDepositeModal"/>
<partial name="_CreateExpenceModal"/>


@section Scripts
{
    <script>
   $(function (){
   
   
   
   
   });

</script>

}

